* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header .container-fluid .row {
  width: 100%;
}
header .container-fluid .row .div-image {
  width: -moz-fit-content;
  width: fit-content;
}
header .container-fluid .row .div-image img {
  width: 50px;
}
header nav.navbar.navbar-expand-lg.bg-light a.navbar-brand img {
  width: 30%;
}

.hero-sec .slid-1 {
  background-image: url(../img/hero-slid-1.png);
  background-size: cover;
  background-position: center center;
  padding: 5% 0%;
}
.hero-sec .slid-2 {
  background-image: url(../img/hero-slide-2.png);
  background-size: cover;
  background-position: center center;
  padding: 5% 0%;
}
.hero-sec .slid-3 {
  background-image: url(../img/hero-slide-3.png);
  background-size: cover;
  background-position: center center;
  padding: 5% 0%;
}
.hero-sec .carousel-indicators {
  right: -9%;
  bottom: 40%;
  left: unset;
  display: grid;
}
.hero-sec .carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  opacity: unset;
}
.hero-sec .carousel-indicators .active {
  background-color: #214996;
}
.hero-sec .hero_tagline {
  background-color: rgba(255, 255, 255, 0.4509803922);
  padding: 12% 11%;
  border-radius: 10px;
  border: 1px solid white;
}
.hero-sec .hero_tagline h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-family: auto;
  font-weight: 700;
}
.hero-sec .banner-new-album-sec {
  text-align: center;
  position: relative;
}
.hero-sec .banner-new-album-sec h2 {
  font-family: Rozha One;
  font-size: 31px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
}
.hero-sec .banner-new-album-sec .play_button {
  position: absolute;
  bottom: -4%;
  left: 36%;
}
.hero-sec .banner-new-album-sec .hero-btn {
  font-size: 15px;
  font-weight: 900;
  color: #ffffff;
  background: #214996;
  padding: 20px 50px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0% auto;
  cursor: pointer;
}
.hero-sec .my-icons {
  text-align: center;
  margin-top: 70px;
  filter: brightness(0) saturate(100%) invert(87%) sepia(100%) saturate(2%) hue-rotate(182deg) brightness(110%) contrast(97%);
}
.hero-sec .my-icons span {
  padding: 18px;
}

.d-none {
  display: none;
}

.d-block {
  display: flex;
}

section.play_song {
  background: #214996;
  padding: 10px;
}
section.play_song #first_play {
  display: none;
}
section.play_song .time-and-progressbar-parent {
  width: 50%;
}
section.play_song .btn-main {
  background-color: white !important;
  width: 48px;
  height: 48px;
  border-radius: 100%;
}
section.play_song .auto_play_song {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
section.play_song .audio-btn {
  background-color: transparent;
  border: none;
  margin: 0% 2%;
}
section.play_song .audio-btn .fa-solid, section.play_song .audio-btn .fas {
  color: white;
}
section.play_song .audio-btn i.fa-solid.fa-play, section.play_song .audio-btn .fa-solid.fa-pause {
  color: #214996 !important;
}
section.play_song .div-main-progress-timing {
  width: 55%;
}
section.play_song .div-time {
  width: 100%;
  display: flex;
  justify-content: end;
  color: white;
}
section.play_song .div-progressbar-main {
  background-color: white;
  width: 100%;
  height: 7px;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
}
section.play_song .div-the-bar {
  position: absolute;
  width: 0%;
  height: 7px;
  background-color: #353535;
  border-radius: 40px;
  transition: 1s;
}
section.play_song .play_image {
  display: flex;
  justify-content: end;
  align-items: center;
}
section.play_song .play_image img {
  width: 75px;
}
section.play_song .play_image .play_content {
  margin-left: 10px;
}
section.play_song .play_image .play_content h3 {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}
section.play_song .play_image .play_content p {
  font-size: 12px;
  font-weight: 400;
  color: #cccccc;
  margin: 0;
}

section.player-ctn-section {
  padding: 5% 10%;
}
section.player-ctn-section .player-ctn-image img {
  width: 100%;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 {
  position: relative;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .player-ctn-men {
  position: absolute;
  left: -40%;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 #myProgress {
  width: 420px;
  background-color: #d9d9f2;
  cursor: pointer;
  border-radius: 10px;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 #myBar {
  width: 0%;
  height: 5px;
  background-color: #000000;
  border-radius: 10px;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .logo {
  fill: red;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .btn-action {
  cursor: pointer;
  padding-top: 10px;
  width: 30px;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .btn-ctn, section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .infos-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .infos-ctn {
  padding-top: 20px;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .btn-ctn > div {
  padding: 5px;
  margin-top: 18px;
  margin-bottom: 18px;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .infos-ctn > div {
  margin-bottom: 8px;
  color: #000000;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .first-btn {
  margin-left: 3px;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .duration {
  margin-left: 10px;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .title {
  margin-left: 10px;
  width: 210px;
  text-align: center;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .player-ctn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  background-color: #F2F2F2;
  margin: auto;
  margin-top: 200px;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 h2 {
  font-family: Rozha One;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 25px;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .playlist-track-ctn {
  display: flex;
  margin-top: 3px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .playlist-track-ctn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000000;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .playlist-track-ctn:last-child {
  /*border: 1px solid #000000; */
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .playlist-track-ctn > div {
  margin: 10px;
  color: #000;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .playlist-info-track {
  width: 80%;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .playlist-info-track, section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .playlist-duration {
  padding-top: 7px;
  padding-bottom: 7px;
  color: #e9cc95;
  font-size: 14px;
  pointer-events: none;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .playlist-ctn {
  padding-bottom: 20px;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .active-track > .playlist-info-track, section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .active-track > .playlist-duration, section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .active-track > .playlist-btn-play {
  color: #000000 !important;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .playlist-btn-play {
  pointer-events: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
section.player-ctn-section .col-lg-4.player_coloum.col-md-6.col-sm-12 .fas {
  color: #000000;
  font-size: 20px;
}

section.Harmony_section .container {
  border-top: 1px solid #828282;
  padding: 5% 7%;
}
section.Harmony_section .harmony_content {
  background: #214996;
  padding: 10% 20% 10% 10%;
}
section.Harmony_section .harmony_content h2 {
  font-family: Rozha One;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 10%;
}
section.Harmony_section .harmony_content h3 {
  font-family: Rozha One;
  font-size: 48px;
  font-weight: 400;
  color: #ffffff;
}
section.Harmony_section .harmony_content p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.005em;
  text-align: left;
  color: #ffffff;
}
section.Harmony_section .harmony_content a {
  text-decoration: underline;
  color: white;
}
section.Harmony_section .col-lg-5.col-md-6.col-sm-12.harmony_position {
  position: relative;
}
section.Harmony_section .col-lg-5.col-md-6.col-sm-12.harmony_position .harmony_image {
  position: absolute;
  left: -20%;
}

section.our_mission .container {
  border-top: 1px solid #828282;
  border-bottom: 1px solid #828282;
  padding: 5% 7%;
}
section.our_mission .our_missiion_image img {
  width: 100%;
}
section.our_mission .col-lg-3.col-md-6.col-sm-12.mission_position {
  position: relative;
}
section.our_mission .col-lg-3.col-md-6.col-sm-12.mission_position .our_mission_content {
  background: #F2F2F2;
  padding: 30px;
  position: absolute;
  left: -70%;
  top: 8%;
}
section.our_mission .col-lg-3.col-md-6.col-sm-12.mission_position .our_mission_content h2 {
  font-family: Rozha One;
  font-size: 16px;
  font-weight: 400;
}
section.our_mission .col-lg-3.col-md-6.col-sm-12.mission_position .our_mission_content h3 {
  font-family: Rozha One;
  font-size: 48px;
  font-weight: 400;
}
section.our_mission .col-lg-3.col-md-6.col-sm-12.mission_position .our_mission_content a {
  color: black;
  text-decoration: underline;
}
section.our_mission .col-lg-3.col-md-6.col-sm-12.mission_position .play_button_2 {
  position: absolute;
  bottom: 0%;
  left: -48px;
}
section.our_mission .col-lg-3.col-md-6.col-sm-12.mission_position .play_button_2 a {
  font-size: 15px;
  font-weight: 900;
  color: #ffffff;
  background: #214996;
  padding: 20px 50px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0% auto;
  text-transform: uppercase;
}

section.slide marquee {
  font-size: 64px;
  font-weight: 500;
  line-height: 102px;
  letter-spacing: -0.005em;
  text-align: left;
  color: #214996;
}

footer {
  background-color: #214996;
  padding: 5% 10%;
}
footer .footer_text h2 {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
footer .footer_text h3 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
footer label {
  display: inline-block;
  font-family: "Rozha One";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-transform: uppercase;
}
footer input {
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  padding: 2% 0%;
  border-bottom: 1px solid #DEDEDE;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}
footer input::-moz-placeholder {
  color: #ffffff;
}
footer input::placeholder {
  color: #ffffff;
}
footer textarea::-moz-placeholder {
  color: #ffffff;
}
footer textarea::placeholder {
  color: #ffffff;
}
footer textarea {
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  background: transparent;
  padding: 2% 0%;
  border-bottom: 1px solid #DEDEDE;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}
footer .footer_input {
  margin-bottom: 30px;
}
footer .footer_input button {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  border: none;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #214996;
  padding: 2% 7%;
}
footer .music_studio_info h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer .music_studio_info p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
footer .music_studio_info .infos-ctn {
  padding: 0;
}
footer .music_studio_info .infos-ctn li {
  list-style: none;
  margin: 5% 0%;
}
footer .music_studio_info .infos-ctn li img {
  margin-right: 10px;
}
footer .music_studio_info .infos-ctn li a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
footer .music_studio_info .social_media {
  padding: 5% 0;
}
footer .music_studio_info .social_media h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer .music_studio_info .social_media ul.social_media_links {
  padding: 0;
  display: flex;
}
footer .music_studio_info .social_media li {
  list-style: none;
  border: 1px solid #DEDEDE;
  padding: 15px 20px;
  margin-right: 5px;
  width: 60px;
  height: 60px;
}
footer .music_studio_info .social_media li a {
  width: 100%;
}

.bottom_footer {
  background: #FFFFFF;
  padding: 2% 10%;
}
.bottom_footer .copy_right {
  color: #214996;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-transform: capitalize;
  color: #214996;
}
.bottom_footer ul.footer_tabs {
  display: flex;
  justify-content: end;
}
.bottom_footer ul.footer_tabs li {
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  margin-right: 13px;
}
.bottom_footer ul.footer_tabs li a {
  color: #214996;
  font-weight: 400;
}

.inner-sec {
  background-image: url(../img/hero-slide-3.png);
  background-position: center center;
  background-size: cover;
  padding: 15% 0%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.inner-sec h1 {
  font-size: 50px;
}

.inner-sec::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.4117647059);
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.about {
  padding: 5% 0%;
  font-weight: 500;
}
.about .row {
  margin: 2% 0%;
}
.about h5 {
  color: #ffffff;
  background-color: #214996;
  font-weight: 700;
  font-size: 30px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3% 2%;
}
.about h3 {
  font-weight: 700;
  font-size: 40px;
}
.about .div-image img {
  width: 100%;
}
.about .div-points .div-heading-point h3 {
  background-color: #214996;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1% 4% 1% 1%;
  margin: 1% 0%;
  font-size: 19px;
  border-left: 19px solid black;
  border-radius: 10px 0px 56px 10px;
}
.about ul {
  list-style: none;
}
.about ul li {
  position: relative;
  line-height: 38px;
}
.about ul li::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #214996;
  border: 3px solid black;
  top: 36%;
  left: -2%;
  border-radius: 100%;
}
.about ul li::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 4px;
  background-color: white;
  top: 49%;
  left: -2%;
}

.sec-contact {
  padding: 5% 0%;
}
.sec-contact .column-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sec-contact .column-1 .div-content {
  height: 60%;
}
.sec-contact .column-1 .div-content p {
  font-weight: 500;
}
.sec-contact .column-1 ul.social_media_links {
  padding: 0;
  display: flex;
}
.sec-contact .column-1 ul.social_media_links li {
  list-style: none;
  border: 1px solid #DEDEDE;
  background-color: #214996;
  padding: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  width: 37px;
  height: 37px;
}
.sec-contact .column-1 ul.social_media_links li a {
  width: 100%;
}
.sec-contact .div-form input {
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 2% 0%;
  padding: 1% 0% 1% 1%;
}
.sec-contact .div-form textarea {
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 2% 0%;
  height: 150px;
  padding: 2% 0% 2% 1%;
}
.sec-contact .div-form button {
  background-color: #214996;
  border: none;
  padding: 1% 3%;
  color: white;
  border-radius: 5px;
}

.sec-Music {
  padding: 5% 0%;
}
.sec-Music .div-music-player-page {
  width: 100%;
  margin: 2% 0%;
  display: flex;
}
.sec-Music .div-music-player-page .div-music-name {
  width: 13%;
}
.sec-Music .div-music-player-page .div-music-name .div-song-image {
  width: 100%;
}
.sec-Music .div-music-player-page .div-music-name .div-song-image img {
  width: 108px;
}
.sec-Music .div-music-player-page .div-music-controler {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0% 2%;
}
.sec-Music .div-music-player-page .div-music-controler h6 {
  font-size: 20px;
}
.sec-Music .div-music-player-page .div-music-controler audio {
  width: 100%;
}

.faq {
  padding: 5% 0%;
}
.faq .accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #214996;
  box-shadow: none;
}
.faq .accordion-button:not(.collapsed):focus-visible {
  box-shadow: none;
}

.privacy {
  padding: 5% 4%;
  line-height: 37px;
  font-weight: 500;
}/*# sourceMappingURL=scss.css.map */